.members {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 1rem;
}

.members > ol {
  list-style-type: none;
  margin-top: 1rem;
}
.members > ol > li:not(:last-child) {
  margin-bottom: 0.6rem;
}
